# ========== LaTeX ==========
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.xdy
*.acn
*.acr
*.alg
*.idx
*.ilg
*.ind
*.nav
*.snm
*.vrb

# ========== MATLAB ==========
*.asv
*.m~
*.slxc
*.autosave
*.slprj/
*.sfprj/
*.mgitignore

# ========== IDE / Editor ==========
.vscode/
.idea/
*.swp
*.swo

# ========== Operating System ==========
.DS_Store
Thumbs.db